<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>
</head>
<body>
      <p>ALtul</p>
      <h3 id="mess"></h3>

        <script>
            // THIS IS THE CLIENT !!!!!!!!!!!!!!!!!!!!
            var socket = new WebSocket('ws://127.0.0.1:8000/ws/alt_url/'); 

            socket.onmessage = function(event){
                
                var djangoData = JSON.parse(event.data);
                document.querySelector('#mess').innerText = djangoData.message;
            }

        </script>
      
</body>
</html>